<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="card shadow-lg p-4" style="max-width: 400px; width: 100%;">
      <div class="card-body">
        <h3 class="text-center mb-4">Connexion</h3>
  
        <form  (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" placeholder="Entrez votre email"
                   formControlName="email">
            <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="text-danger">
              L'email est requis et doit être valide.
            </div>
          </div>
  
          <div class="mb-3">
            <label for="password" class="form-label">Mot de passe</label>
            <input type="password" class="form-control" id="password" placeholder="Entrez votre mot de passe"
                   formControlName="password">
            <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="text-danger">
              Le mot de passe est requis.
            </div>
          </div>
  
          <button type="submit" class="btn btn-primary w-100 mt-4" [disabled]="loginForm.invalid">Se connecter</button>
        </form>
      </div>
    </div>
  </div>
  