<div class="container mt-5">
    <h2 class="mb-4">Nos Produits</h2>
    <div class="row">
      <div class="col-md-4" *ngFor="let product of products">
        <div class="card shadow">
          <img src="https://via.placeholder.com/300x200" class="card-img-top" alt="{{ product.name }}">
          <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text">{{ product.description }}</p>
            <!-- Utilisation de la méthode formatPrice -->
            <p class="text-primary fw-bold">{{ formatPrice(product.price) }}</p>
            <button class="btn btn-primary" (click)="addToCart(product)">Ajouter au panier</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  